

@mixin alertpage{
	.alertlist .v-select-select{
		width:200px;
	}
	 .alertdetailcomponent{
	 	display:block;
	 	margin:10px;
	 }
	 
	 .detailsection{
	 	padding: 10px;
		position:relative;
		width:75%;
		display:inline-block;
		height:100%;
		float:right;
	 }
	 
	 .listsection{
		padding: 10px;
		width:20%;
		height:100%;
		float:left;
		display:inline-block;
	 }
}