@mixin searchpage{
	&.v-app input.v-textfield-rsitemstyle.v-widget{
		background:transparent;
		padding:7px 2px;
		border:none;
		color:grey;
	}
	.rsingleitem{
		position:relative;
		width:100%;
		margin-bottom:10px;
		padding:5px;
		border-bottom:1px solid rgb(223, 223, 223);
	}
	.hasalert{
		color: rgb(234, 64, 64);
		font-size: 18px;
		font-weight:bold;
	}
}