@mixin searchpage{
	&.v-app input.v-textfield-rsitemstyle.v-widget{
		background:transparent;
		padding:7px 2px;
		border:none;
		color:grey;
	}
	.rsingleitem{
		position:relative;
		width:100%;
		margin-bottom:10px;
		height:100px;
		padding:10px;
		border-bottom:2px solid grey;
	}
	
}