<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

			<div class="listsection" >
				<div location="list" ></div>
				<div location="addalert"></div>
			</div>
			
			<div class="detailsection">
				<div class="alertdetailcomponent" location="alertname"></div>
				<div class="alertdetailcomponent" location="alertpattern"></div>
				<div class="alertdetailcomponent" location="alertseverity"></div>
				<div class="alertdetailcomponent" location="alertnotification"></div>
				<div class="alertdetailcomponent" location="save"></div>
			</div>
</body>
</html>