<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>
		<div class="searchform">
			<table>
				<tr>
					<td><div location="field1"></div></td>
				</tr>
				<tr>
					<td><div location="field2"></div></td>
				</tr>
				<tr>
					<td><div location="field3"></div></td>
				</tr>					
				<tr>
					<td>
					<div location="search" class="oneline"></div>
					<div location="clear" class="oneline"></div>
					</td>
				</tr>						
			</table>
		</div>
	<div class="resultpage">
		<div class="results" location="result">
		</div>
		
		<div class="paging" location="paging">
		</div>
	</div>
</body>
</html>